<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexcss.css') }}">
    <title>Safe Navigation</title>

    <link rel="stylesheet" href="https://developers.google.com//maps/documentation/javascript/demos/demos.css">
    <style>
        #map-container{height: 60%;}
    </style><!--for map-->
</head>
<body>

        <div style="position:fixed;bottom:20px;right:40px;border-radius: 35px;z-index:2">
            <a href="#">
                <img style="width: 100px; height: 100px; border-radius: 35px;"
                     src={{ url_for('static', filename='sos.png') }}
                alt="..." class="mr-3 rounded-circle img-thumbnail shadow-sm"  >
                </a>
        </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <br><br>
    </nav>

    <div id = "container" style = "display:inline-block;width:100%">
        <div style="width:19%; display:inline-block;float:left; position:sticky">
            <!-- Vertical navbar -->
            <div class="vertical-nav bg-white" id="sidebar">
              <div class="py-4 px-3 mb-4 bg-light">
                <div class="media d-flex align-items-center"><img src={{ url_for('static', filename='icon.png') }} alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                  <div class="media-body">
                    <h4 class="m-0">Safe Navigation</h4>
                    <p class="font-weight-light text-muted mb-0">by Raise Our Wages</p>
                  </div>
                </div>
              </div>

              <!--<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>-->

              <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                  <a href={{ url_for('index') }} class="nav-link text-dark font-italic">
                            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Home
                        </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link text-dark font-italic bg-light">
                            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Navigation</a>
                </li>
                <li class="nav-item">
                  <a href={{ url_for('crimeanalysis') }} class="nav-link text-dark font-italic">
                            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Crime Analysis</a>
                </li>
              </ul>

              <!--<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>-->

              <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                  <a href={{ url_for('facebookanalysis') }} class="nav-link text-dark font-italic">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>Facebook Analysis</a>
                </li>
                <li class="nav-item">
                  <a href={{ url_for('about') }} class="nav-link text-dark font-italic">
                            <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>About Us</a>
                </li>
              </ul>
            </div>
            <!-- End vertical navbar -->

        </div>
        <div>
            <div style="width:80%;height:100%;display:inline-block;">
            <div style="background-color:#44535e;" class="jumbotron paral">
                    <h3 class="display-3">Safe Navigation</h3><br>
                    <p class="lead">
                    </p>

                    <div id="map" style="z-index:1">
                        <center>
                        {{navmap.html}}{{navmap.js}}
                        </center>
                    <br>
                    </div>
                </div>

            <!--more content-->
             <br><br>
                    <div class="row">
                        <div class="col-lg-7">
                        <!--content-->
                        </div>
                        <div class="col-lg-5">
                            <div class="overflow-auto" style="max-height: 300px">
                                <ul style="list-style-type:disc;">
                                </ul>
                            </div>
                        </div>
                    </div>
                <!--content done-->
            </div>
    </div>
        </div>


    <br>
    <br>
<script>
    $(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
  });
});
</script>

<footer class="page-footer font-small blue pt-4" style="background-color:#44535e; color:white;">
  <div class="footer-copyright text-center py-3">
      Raise Our Wages (R.A.W)
      <br>
      CIPHER 2020
  </div>
</footer>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
